<template>
  <div>
    <div class="alert alert-warning" role="alert">
      This list reflects <strong>historic</strong> deprecations up until 14.4. For <strong>new deprecations</strong> and the complete list of all features that are currently deprecated, see <a href="https://docs.gitlab.com/ee/update/deprecations.html">GitLab documentation.</a>
    </div>
    <div v-if="loading">Loading...</div>
    <template v-else>
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Deprecation taking effect after</label><br />
            <input
              type="date"
              v-model="deprecatedAfter"
              :min="minDate"
              :max="MaxDate"
            />
          </div>
          <div class="form-group col-md-2">
            <label>Deprecation taking before</label><br />
            <input
              type="date"
              v-model="deprecatedBefore"
              :min="minDate"
              :max="MaxDate"
            />
          </div>
          <div class="form-group col-md-2">
            <label>Announced in Version</label>
            <multiselect
              v-model="announcedVersion"
              :options="allVersions"
              :customLabel="renderVersion"
              :allowEmpty="true"
            />
          </div>
        </div>
        <div class="form-row">
          <div
            class="form-group col-md-3"
            data-toggle="tooltip"
            data-placement="top"
            title="Search supports regular expressions."
          >
            <label>Fulltext search</label>
            <input
              class="form-control"
              placeholder="Search deprecation name and description"
              v-model="textSearch"
            />
          </div>
          <div class="form-group col-md-2">
            <label>Order By</label><br />
            <div class="btn-group" role="group" aria-label="Basic example">
              <select class="custom-select" v-model="orderKey">
                <option value="due">Due Date</option>
              </select>
              <button
                type="button"
                @click="order = order * -1"
                class="btn btn-outline-dark"
              >
                {{ order < 0 ? "Asc" : "Desc" }}
              </button>
            </div>
          </div>
          <div class="form-group col-md-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                v-model="show_duplicates"
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1">
                Show deprecations announced in multiple releases
              </label>
            </div>
          </div>
        </div>
      </form>
      <paginated-table
        :items="filteredDeprecations"
        :total-items="deprecations.length"
        :per-page-default="500"
      >
        <template v-slot:header>
          <tr>
            <th>Deprecation taking effect on</th>
            <th>Description</th>
            <th>Announced in Release post of version</th>
          </tr>
        </template>
        <template v-slot:row="{ item: deprecation }">
          <td>{{ deprecation.due }}</td>
          <td>
            <strong>{{ deprecation.feature_name }}</strong
            ><br /><span v-html="deprecation.description"></span>
          </td>
          <td>{{ renderVersion(deprecation.version) }}</td>
        </template>
      </paginated-table>
    </template>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import PaginatedTable from "./components/paginated-table.vue";

const uniqAndSort = (array) => {
  return Array.from(new Set(array)).filter(Boolean).sort();
};

let searchDefaults = {
  order: 1,
  orderKey: "due",
  textSearch: "",
  deprecatedAfter: null,
  deprecatedBefore: null,
  announcedVersion: null,
  show_duplicates: false,
};

function eqSet(as, bs) {
  if (as.length !== bs.length) return false;
  for (let a of as) if (!bs.includes(a)) return false;
  return true;
}

export default {
  components: {
    PaginatedTable,
    Multiselect,
  },
  data() {
    return {
      data: [],
      loading: true,
      ...searchDefaults,
    };
  },
  async mounted() {
    const response = await fetch("./deprecations.json");

    this.data = await response.json();

    const params = new URLSearchParams(window.location.search);

    searchDefaults.deprecatedBefore = this.dates.slice(-1)[0];
    searchDefaults.deprecatedAfter = this.dates[0];

    this.deprecatedBefore = searchDefaults.deprecatedBefore;
    this.deprecatedAfter = searchDefaults.deprecatedAfter;

    Object.entries(searchDefaults).forEach(([key, value]) => {
      if (Array.isArray(value)) {
        const newVal = params.getAll(key);
        if (!eqSet(newVal, value)) {
          this[key] = newVal;
        }
        return;
      }

      const newVal = params.get(key);

      if (newVal && newVal !== value) {
        this[key] = newVal;
      }
    });
    this.loading = false;
  },
  updated() {
    const params = new URLSearchParams();
    Object.entries(searchDefaults).forEach(([key, value]) => {
      let newVal = this[key];

      if (Array.isArray(value)) {
        if (!eqSet(newVal, value)) {
          newVal.forEach((x) => {
            params.append(key, x);
          });
        }
        return;
      }

      if (newVal && newVal !== value) {
        params.set(key, newVal);
      }

      params.set("tab", "deprecations");
    });
    window.history.replaceState(
      {},
      "",
      window.location.protocol +
        "//" +
        window.location.host +
        window.location.pathname +
        "?" +
        params.toString()
    );
  },
  methods: {
    renderVersion(version) {
      return version.replace(/_0?/, ".").replace(/^0/, "").replace(/_0?/, ".");
    },
  },
  computed: {
    allVersions() {
      return uniqAndSort(
        this.deprecations.map((deprecation) => deprecation.version).flat()
      );
    },
    searchLower() {
      return this.textSearch.toLocaleLowerCase();
    },
    deprecations() {
      return this.data.map(({ due, ...rest }) => {
        let retracted = true;
        if (due) {
          retracted = false;
          due = due.substr(0, 10);
        }
        return { ...rest, due, retracted, id: rest.version + rest.description };
      });
    },
    dates() {
      return this.deprecations.flatMap((x) => (x.due ? x.due : [])).sort();
    },
    maxDate() {
      return this.dates.slice(-1)[0];
    },
    minDate() {
      return this.dates[0];
    },
    filteredDeprecations() {
      let titles = new Set();
      return this.deprecations
        .filter((deprecation) => {
          let visible = true;

          if (visible && !this.show_duplicates) {
            if (titles.has(deprecation.feature_name)) {
              visible = false;
            } else {
              titles.add(deprecation.feature_name);
            }
          }

          if (visible && this.announcedVersion) {
            visible = visible && deprecation.version === this.announcedVersion;
          }

          if (visible && this.textSearch) {
            visible =
              visible &&
              (deprecation.feature_name
                .toLocaleLowerCase()
                .includes(this.searchLower) ||
                deprecation.description
                  .toLocaleLowerCase()
                  .includes(this.searchLower));
          }

          visible =
            visible &&
            deprecation.due <= this.deprecatedBefore &&
            this.deprecatedAfter <= deprecation.due;

          return visible;
        })
        .sort((a, b) => {
          const valA = a[this.orderKey];
          const valB = b[this.orderKey];

          if (valA === valB) {
            return 0;
          }

          return (valB < valA ? -1 : 1) * this.order;
        });
    },
  },
};
</script>
