<template>
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          :class="currentTab === 'features' ? 'nav-link active' : 'nav-link'"
          @click="currentTab = 'features'"
        >
          GitLab: Features by version
        </a>
      </li>
      <li class="nav-item">
        <a
          :class="currentTab === 'stats' ? 'nav-link active' : 'nav-link'"
          @click="currentTab = 'stats'"
          >GitLab: Feature Statistics</a
        >
      </li>
      <li class="nav-item">
        <a
          :class="
            currentTab === 'deprecations' ? 'nav-link active' : 'nav-link'
          "
          @click="currentTab = 'deprecations'"
          >GitLab: Deprecations by version</a
        >
      </li>
      <li class="nav-item">
        <a
          :class="currentTab === 'dot-com' ? 'nav-link active' : 'nav-link'"
          @click="currentTab = 'dot-com'"
          >GitLab.com: Latest updates</a
        >
      </li>
      <li class="nav-item">
        <a
          :class="currentTab === 'cves' ? 'nav-link active' : 'nav-link'"
          @click="currentTab = 'cves'"
          >CVEs by Version</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link" style="color:black" href="https://gitlab-com.gitlab.io/support/toolbox/upgrade-path/"
          >Upgrade path</a
        >
      </li>
    </ul>
    <div class="my-2">
      <DotCom v-if="currentTab === 'dot-com'" />
      <Features v-else-if="currentTab === 'features'" />
      <Deprecations v-else-if="currentTab === 'deprecations'" />
      <Stats v-else-if="currentTab === 'stats'" />
      <CVEs v-else-if="currentTab === 'cves'" />
    </div>
  </div>
</template>
<script>
import Features from "./features.vue";
import Deprecations from "./deprecations.vue";
import Stats from "./stats.vue";
import DotCom from "./dot-com.vue";
import CVEs from "./cves.vue";

export default {
  data() {
    return { currentTab: null };
  },
  mounted() {
    if (window.location.search.includes("deprecations")) {
      this.currentTab = "deprecations";
    } else if (window.location.search.includes("stats")) {
      this.currentTab = "stats";
    } else if (window.location.search.includes("dot-com")) {
      this.currentTab = "dot-com";
    } else if (window.location.search.includes("cves")) {
      this.currentTab = "cves";
    } else {
      this.currentTab = "features";
    }
  },
  components: {
    Deprecations,
    Features,
    Stats,
    DotCom,
    CVEs
  },
};
</script>
